@font-face {
	font-family:"Bitwise";
	src: url('../assets/font/bitwise/Bitwise.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(59, 59, 59);
    
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 525px;

    background-color: rgb(40,40,40);
    border-radius: 15px;
    border: 1px solid black;
   
}

.last-calc-container {
	height: 100%;
	align-self: flex-end;
	padding-right: 30px;
}



.screen {
    display: flex;
    justify-content: flex-end; 
    width: 75%;
    height: 10%;
    background-color: rgb(40,40,40);
 }

.screen-text {
    font-size:30px; 
    color: white;
    font-family: "Open sans";
}

.history-text {
	font-size: 20px;
	color: white;
	font-family: "Open sans";
	margin: 0px;
	padding-top:10px;
	/*height: 30%;*/
}

.keypad-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    gap:10px;
    padding: 30px;
 
}

button {
    border: none;
    border-radius: 40px;
    font-size: 120%;
}


button:active {
    background-color: rgb(51, 51, 51);
    
}


.top-row-container {
    display:flex;
    gap: 10px;
    height:15%;
    flex-shrink: 0;

}
.clear-btn {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: rgb(205, 205, 205);
    color: black;
}

.percent-btn {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 190, 60);

}


.row-container {
    display:flex;
    gap:10px; 
    

}

.num-btn,
button  {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(73, 72, 72);
    
    color: white;
    height: 50px;
    width: 50px;
    border:none;
}

.op-btn {
    background-color: rgb(255, 190, 60);
    color: white;
}

.equal-btn {
    background-color: green;
}

.logo {
	height: 40px;
	width: auto;
	padding-top:20px;
	padding-bottom: 30px;
	
}


